{% extends "base.html.twig" %} {# por defecto busca desde la carpeta templates directamente. como extiende base.html.twig, incrusta el contenido de los bloques en los bloques definidos en el archivo base  #}


{% block body %}

    {{ include("partial/navbar.html.twig") }} {# ruta relativa desde la carpeta por defecto 'templates' #}

    {{ parent() }} {# recoge el contenido que tenga el bloque header en el archivo base. si no se utiliza, lo que contenga el archivo que extiende machaca el contenido del padre #}

    {# <p>ยก Hola {{ nombre }} {{ apellido }} !</p> #}

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Edad</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ path('default_show', { id: person.id }) }}">{{ person.name }}</a></td>
                {# https://twig.symfony.com/doc/2.x/tags/for.html #}
                <td>{{ person.email }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.city }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: pink
        }
    </style>
{% endblock %}
